*{
    margin: 0;
}

#inicio, #sobre, #galeria, #albuns, .contato{
    width: 1024px;
    margin: auto;
}

body{
    font-family: 'Fira sans', 'sans-serif';
    color: #646460;
}

h1, h2{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

/* Menu e Cabeçalho */

.menu{
    display: flex;
    justify-content: space-between;
    width: 540px;
    list-style: none;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: black;
    text-decoration: none;
}

.logo{
    margin-left: 50px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.inicio{
    background-color: black;
    color: white;
    padding: 40px;
}

header{
    border-bottom: 1px solid black;
}

/* Seção de inicio */

h1{
    color: #ff0026;
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

h2{
    font-size: 40px;
}

.btn{
    align-items: center;
    color: white;
    background-color: #ff0026;
    border-radius: 30px;
    margin: 30px;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.btn a{
    color: white;
    text-decoration: none;
}

/* Seção sobre */

#sobre{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.texto{
    width: 500px;
}

.titulo{
    width: 286px;
    border-bottom: 3px solid #646060;
    height: 100px;
}

/* Seção Galeria */

#galeria{
    margin-top: 50px;
    height: 550px;
}

.fotos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.foto1{
    width: 300px;
    height: 550px;
}

.fotos2{
    width: 660px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

/* Album */

#albuns{
    margin-top: 110px;
    text-align: center;
}

.album{
    display: flex;
    margin-top: 30px;
}

.texto_album{
    background-color:#C4C4C4;
    width: 524px;
    height: 333px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.texto_album p{
    width: 400px;
}

/* Seção contato */

#contato{
    background-color: #343333;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.contato{
    color: #C4C4C4;
    display: flex;
    justify-content: space-between;
}

.texto-contato{
    width: 400px;
}

.texto-contato p{
    margin-top: 15px;
}

.formulario{
    width: 350px;
    height: 140px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #C4C4C4;
}

textarea{
    height: 140px;
}

.botao{
    color: black;
    background-color: #C4C4C4;
    font-family: 'fira-sans', 'sans-serif';
    width: 100px;
    font-size: 14px;
}